* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   }

.w-form {
    position: relative;
    top: 25%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -5%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    background-color: lightgrey;
}

.w-form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: brown;
}

.w-form button:hover {
    background: darksalmon;
}

.input-box {
    width: 100%;
    margin-top: 20px;
  }
  
  .input-box label {
    color: #333;
  }
  
  .w-form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .w-form .column {
    display: flex;
    column-gap: 15px;
  }
 
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
  }

  .image-tag {
    display: flex;
    flex-direction: column;
  }
  
  .image-upload {
    display: flex;
    align-items: center;
  }