.cr-title{
    text-align: center;
}
 .cr-outer-box{
    border-radius: 2vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: antiquewhite;
  transition: 0.3s;
   margin :auto;
   text-align: center; 
   width: fit-content;
   height: fit-content;
   margin-bottom: 5vh;
   margin-top: 3vh;
   display: flex;
 }
 .cr-detail{
    display: flex;
    column-gap: 3vh;
    align-items: center;
    
 }
.cr-first{
  text-align: center;
  align-items: center;
  /* vertical-align:middle; */


 }
 .cr-row{
    border-radius:1vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: darkgrey;
    margin-top: 2vh;
    /* width: 15vw; */
   /* height:5vh; */
   width: fit-content;
   padding: 0.5rem 1rem;
   margin-bottom: 2vh;
   margin-left: 3vh;
   text-align: left;
    
 }
 .cr-btn{


    
    display: flex;
    display: inline-block;
  border-radius: 3vh;
  background-color:  #be5e1d;
 
  border: none;
  color: #FFFFFF;
 
  font-size:16px;
  
  /* padding:3vh; */
  width: 82%;
  /* transition: all 0.5s; */
  cursor: pointer;
  margin: 2vh;
 height: 5vh;
 text-align: justify;
 text-align:center;
 vertical-align:middle;
 

 }
 .cr-btn:hover{background-color: #978415} 



.crm-outerbox{
    border-radius: 2vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: antiquewhite;
  transition: 0.3s;
   margin :auto;
   text-align: center; 

   width: fit-content;
   height: fit-content;
   margin-bottom: 5vh;
   margin-top: 3vh;
   display: flex;

   align-items: center;

}
.crm-row{
    display: flex;
    column-gap: 2vh;
    align-items: center;
    /* margin-top: 1vh; */
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    text-align: justify;
    text-align:center;
}
.crm-icon{
    border-radius:1vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: darkgrey;
    margin-top: 2vh;
    width: fit-content;
   
    margin-right: 2vh;
   height:5vh;
   margin-bottom: 2vh;
   margin-left: 2vh;
   text-align: justify;
   text-align:center;
}
.crm-avatar{
 font-size: 7vh;
display:flex;}



 .crm-column{
    border-radius:1vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: darkgrey;
   
    width:fit-content;
   
    margin-right: 3vh;
   height:fit-content;
   margin-bottom:3vh;
   margin-left: 3vh;
 
   text-align: justify;
 text-align:center;
 }

 .cbc-outer-box{
    border-radius: 2vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: antiquewhite;
  transition: 0.3s;
   margin :auto;
   text-align: center; 

   width: fit-content;
   height: fit-content;
   margin-bottom: 5vh;
   margin-top: 3vh;
   display: flex;

   align-items: center;
 }
 .cbc-details{
    display: flex;
    column-gap: 3vh;
    align-items: center;
    

 }
 .cbc-row{
    border-radius:1vh;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: darkgrey;
    margin-top: 2vh;
    width:fit-content;
   
    margin-right: 3vh;
   height: fit-content;
   margin-bottom: 3vh;
   margin-left: 1vw;
   text-align: justify;
   text-align:center;
 }

 .cbc-icon{
    font-size: 5vh;
    display:flex;
margin-left: 3vh;
}
    
 