.fp-page{
    height: 51vh;
}

.fp-form {
    position: relative;
    top: 25%;
    left: 50%;
    width: 606px;
    padding: 40px;
    transform: translate(-50%, -5%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    background-color: lightgrey;
  }
 
 .fp-page h2{
    text-align: center;
    margin-top: 50px;
 }

 .fp-form button {
    height: 55px;
    width: 200px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: brown;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.fp-form button:hover {
    background: darksalmon;
}