.tp-title{
    text-align: center;
    margin-top: 3vh;
}

.th-filter {
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: rgb(155, 116, 65);
    border-radius: 0.5vh;
    margin: auto;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
  }

   .th-filter .th-icon{ 
    color:rgb(15, 7, 7);
    margin-right:2vh;
    margin-top: 1vh;
    font-size: 3vh;
    vertical-align: middle;
   
   }

   

.th-data{

    width:11vw;
    margin-bottom: 1vh;
}



  .tp-detail{
    /* text-align: center; */
    display: flex;
    column-gap: 3vh;
   

  }
  .tp-outer-box{
    
    box-shadow: 0 4px 8px 0 rgba(17, 143, 122, 0.2);
    background-color: rgb(234, 240, 239);
  transition: 0.3s;
  border-radius: 2vh;
  /* float: center; */

  /* margin-right: 20px; */
margin: auto;
text-align: center; 
  margin-bottom: 5vh;
  margin-top: 3vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: fit-content;
  width: fit-content;
/* margin: auto; */

  }
  .th-first{
    /* border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
    background-color: darkgrey;
 
    margin-top: 15px;
    width: 200px;
    height: 70px;
   text-align: left;
    */
   
    /* width: 200px; */

 
  }
  
.th-row{
    border-radius:1vh;
    box-shadow: 0 4px 8px 0 rgba(231, 229, 229, 0.2);
    background-color: rgb(37, 141, 118);
    margin-top: 2vh;
    width: fit-content;
   padding: 0.5rem 1rem;
   margin-bottom: 2vh;
   margin-left: 3vh;
   text-align: left;


}


.th-row1{
  border-radius:1vh;
  box-shadow: 0 4px 8px 0 rgba(230, 118, 118, 0.2);
  background-color:rgb(37, 141, 118);
  margin-top: 2vh;
  width: fit-content;
 padding: 0.5rem 0.5rem;
 margin-bottom: 2vh;
 margin-left: 3vh;
 text-align: left;


}


  .check-ride-btn{
    /* margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px; */


  }
  .th-btn{
    display: flex;
    display: inline-block;
  /* border-radius: 3vh; */
  border-radius: 40px;
  font-size: 1.1rem;
  font-weight: 650;
  background: linear-gradient(135deg, #71b7e6, #93c47d);
  border: none;
  color: #FFFFFF;
  /* text-align: ; */
  font-size:2vh;
  padding: 0.5rem  2rem;
  /* width: 12vw; */
  /* transition: all 0.5s; */
  width: max-content;
  cursor: pointer;
  margin: 5vh;
 /* height: 3vh; */
 text-align: justify;
 text-align:center;
 vertical-align:middle;

 
  }
  .th-btn:hover {background-color: #978415}

/* .th-btn:active {
  background-color: #76be78;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
.date{
    margin-left: 10px;
}
.th-data{
    margin-left: 30px;
   background-color: rgb(202, 199, 35);
}
